# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Conda / venv
.env
.venv
conda/
anaconda_projects/

# PyTorch / ML artifacts
*.pth
*.pt
checkpoints/
pretrained/

# Training outputs
logs/
outputs/
experiments/
figures/
plots/

# TensorBoard
runs/

# Caches
.cache/
.core/
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Temporary / backups
*~
*.swp
